<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kaiwen.wishlist.dao.BookDAO">

<!--    注册redis缓存-->
    <cache type="com.kaiwen.wishlist.cache.RedisCache" />

    <insert id="save" parameterType="Book" useGeneratedKeys="true" keyProperty="id">
        insert into book (coverPath, title, author, date, press, abs, cid)
        values (#{coverPath}, #{title}, #{author}, #{date}, #{press}, #{abs}, #{cid})
    </insert>

    <delete id="delete" parameterType="int">
        delete from book where id = #{id}
    </delete>

    <update id="update" parameterType="Book">
        update book
        set coverPath=#{coverPath},  title=#{title}, author=#{author}, date=#{date}, press=#{press}, abs=#{abs}, cid=#{cid}
        where id=#{id}
    </update>

    <!--一对一-->
    <resultMap type="com.kaiwen.wishlist.entity.Book" id="BookResultMap">
        <id column="id" property="id"/>
        <result column="coverPath" property="coverPath" />
        <result column="title" property="title" />
        <result column="author" property="author" />
        <result column="date" property="date" />
        <result column="press" property="press" />
        <result column="abs" property="abs" />
        <result column="cid" property="cid" />
        <association property="category" javaType="com.kaiwen.wishlist.entity.Category">
            <result column="name" property="name" />
        </association>
    </resultMap>
    <select id="listByPage" parameterType="int" resultMap="BookResultMap">
        select b.id, b.coverPath, b.title, b.author, b.date, b.press, b.abs, b.cid, c.name
        from book b
        left join category c on b.cid = c.id
        limit #{offset}, 5
    </select>

    <select id="count" parameterType="int" resultType="int">
        select count(b.id)
        from book b
        left join category c on b.cid = c.id
        where #{cid} = 0 or b.cid = #{cid}
    </select>

    <select id="findByCategory" parameterType="int" resultMap="BookResultMap">
        select b.id, b.coverPath, b.title, b.author, b.date, b.press, b.abs, b.cid, c.name
        from book b
        left join category c on b.cid = c.id
        where b.cid = #{cid}
        limit #{offset}, 5
    </select>

<!--    模糊搜索-->
    <select id="selectBykeyWord" parameterType="string" resultMap="BookResultMap">
        <bind name="pattern" value="'%' + keyword + '%'" />
        select b.id, b.coverPath, b.title, b.author, b.date, b.press, b.abs, b.cid, c.name
        from book b
        left join category c on b.cid = c.id
        where b.title like #{pattern} or b.author like #{pattern}
    </select>

</mapper>
